#heading {
  background-color: #c81c2a;
  color: white;
  text-align: center;
  font-size: 30px;
  margin-top: 0px;
  padding: 20px;
  margin-bottom: 0px;
}
body {
  margin: 0;
  padding: 0;
  background-color: rgb(214, 214, 214);
  font-family: "Open Sans", sans-serif;
}
.nav {
  background-color: black;
  height: 50px;
}

span {
  display: inline-block;
  padding-top: 12px;
  color: white;
  margin-left: 70px;
  font-size: 20px;
  font-weight: 100;
}
#shop {
  margin-top: 0px;
  text-decoration: underline;
}
#main {
  height: 100vh;
  width: 100vw;
  display: inline-block;
  margin: 100px;
}
#first {
  width: 250px;
  height: 260px;
  background-color: white;
  margin: 30px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  display: inline-block;
  border-radius: 5px;
}
#maincard {
  display: inline-block;
  margin-left: 300px;
  margin-top: 50px;
}

.material-symbols-outlined {
  color: black;
  margin-right: 10px;
}

.formdiv {
  background-image: url(https://media.istockphoto.com/id/1063727164/video/multicolored-motion-gradient-background-shades-of-gray.jpg?s=640x640&k=20&c=ddlttXzOZzR92NVlL40I6Bu31FCjReuNDKAvnIZ85D4=);
  padding: 20px;
  background-size: cover;
}
#form {
  width: 500px;
  background-color: #f4f4f4;
  display: block;
  margin: auto;
  padding: 20px;
  border-radius: 10px;
}
input {
  width: 97%;
  padding: 6px;
  border-radius: 10px;
  border: 1px solid white;
  margin: 3px;
}
.radiobt {
  display: inline-flex;
}
button {
  background-color: #4cb050;
  color: white;
  padding: 12px 15px;
  margin-left: 42%;
  border: #4cb050;
  border-radius: 5px;
}

#term {
  display: inline-flex;
}

textarea {
  border: #f4f4f4;
}

.footer {
  background-color: black;
  width: 100%;
  height: 50px;
}

.imgcenter {
  margin-left: 45%;
}
